<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.stonepass.admin.userMgmt.dao.PatternUserMgmtMapper">
	
	<!-- 사용자 리스트 검색조건 -->
	<sql id="memberListJoin">
		<!-- a left outer join tb_sp_organization b 
		on a.sid = b.svcnum -->
		a left outer join tb_sp_service c on a.sid = c.svcnum 
		left outer join tb_sp_organization b on (c.oidkey = b.oidkey) 
	</sql>
	<sql id="memberListWhere">
		<where>
			<!-- 관리자 구분 -->
			<if test="siteManager >= 3 ">
				<if test="svcOrganizationKey != null and svcOrganizationKey != ''"> and b.oidkey = #{svcOrganizationKey} </if>
			</if>
			<!-- 무조건 실행 -->
			<if test="siteManager != null and siteManager != ''"> and a.biotype = 'PATTERN' </if>
			<!-- 검색 조건 -->
			<if test="svcOrganization != null and svcOrganization != ''"> and b.OIDNAME = #{svcOrganization}</if> <!-- 셀렉트 선택 -->
			<if test="status != null and status != ''"> and status = #{status}</if>
			<!-- <if test="adminType != null and adminType != ''"> and sid = #{svcNum}</if> -->
			<if test="condSearchNm != null and condSearchNm != ''">and userid = #{condSearchNm}</if>
		</where>
	</sql>
	
	<!-- 사용자 정보 로우 카운트 조회 -->
	<select id="selectMemberForRowCount" parameterType="tbSpMembersVO" resultType="int">
		select count(*)
		from tb_sp_fidomembers
		<include refid="memberListJoin"/>
		<include refid="memberListWhere"/>
	</select>
	
	<!-- 사용자 정보 리스트 조회 -->
	<select id="selectMemberForList" parameterType="tbSpMembersVO" resultType="tbSpMembersVO">
		select t.*
		from (
				select t.*
				from (
						select userid					/* 사용자ID */
							 , aaid						/* AAID */
							 , keyid					/* KEYID */
							 , publickey				/* FIDO공개키 */
							 , signcounter				/* FIDO등록인증횟수 */
							 , authenticatorversion		/* FIDO버전 */
							 , timestamp				/* FIDO타임스탬프 */
							 , fstatus					/* FIDO사용자상태 */
							 , publicalg				/* FIDO알고리즘 */
							 , authcounter				/* 인증횟수 */
							 , sid						/* 시스템ID */
							 , deviceinfo				/* 디바이스정보 */
							 , authpolicy				/* 인증 정책 */
							 , multipolicy				/* 다중인증 정책 */
							 , deviceid					/* DEVICEID */
							 , usernum					/* USER INDEX */
							 , deviceidhash				/* DEVICEID HASH값 */
							 , biotype					/* FIDO인증 TYPE */
							 , b.OIDNAME svcOrganization	/* 서비스 기관 업체명 */
							 , b.auth_type authType				/* 서비스 기관 서비스 타입 */
							 , passstatus				/* FIDO인증여부 */
						from tb_sp_fidomembers
						<include refid="memberListJoin"/>
						<include refid="memberListWhere"/>
						order by userid asc
				) t
		) t order by timestamp desc
		limit #{pageSet} offset #{offSet}#{offSet}, #{pageSet}
	</select>
	
	<!-- 사용자 정보 조회 -->
	<select id="selectMemberByPk" parameterType="tbSpMembersVO" resultType="tbSpMembersVO">
		select userid					/* 사용자ID */
			 , aaid						/* AAID */
			 , keyid					/* KEYID */
			 , publickey				/* FIDO공개키 */
			 , signcounter				/* FIDO등록인증횟수 */
			 , authenticatorversion		/* FIDO버전 */
			 , timestamp				/* FIDO타임스탬프 */
			 , fstatus					/* FIDO사용자상태 */
			 , publicalg				/* FIDO알고리즘 */
			 , authcounter				/* 인증횟수 */
			 , sid						/* 시스템ID */
			 , deviceinfo				/* 디바이스정보 */
			 , authpolicy				/* 인증 정책 */
			 , multipolicy				/* 다중인증 정책 */
			 , deviceid					/* DEVICEID */
			 , usernum					/* USER INDEX */
			 , deviceidhash				/* DEVICEID HASH값 */
			 , biotype					/* FIDO인증 TYPE */
		from tb_sp_fidomembers
		where usernum = #{userNum}	/* USER INDEX */
	</select>

</mapper>